<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>React on Spring</title>
    <link rel="stylesheet" th:href="@{/style/bootstrap.min.css}">
</head>
<body>
<header th:insert="block/header :: header"></header>
<div class="container mt-5 mb-5">
    <h2>Product form</h2>
    <form th:action="@{/product-add}" th:object="${productForm}" method="post">
        <input id=name th:field="*{name}" name="name" placeholder="Product name" class="form-control">
        <input th:field="*{quantity}" name="quantity" placeholder="Product quantity" class="form-control">
        <input th:field="*{warehouseId}" placeholder="Warehouse id" class="form-control">
        <input th:field="*{description}" placeholder="Product description" class="form-control">
        <input th:field="*{price}" placeholder="Product price" class="form-control">
        <button type="submit" class="btn btn-success">Add product</button>
    </form>
</div>
</body>
</html>